block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title RTUITLab — #{achievementData.title}
		link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
		script(src="https://unpkg.com/swiper/swiper-bundle.min.js", defer)
		script(src="../js/achievementPageTemplate/achievementPageTemplate.js",defer)
		link(rel="stylesheet" href="../indexStyles.scss")
		script(type='application/ld+json').
			{
			"@context": "https://schema.org",
			"@type": "BlogPosting",
			"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "https://rtuitlab.dev"
			},
			"headline": "#{achievementData.title}",
			"image": "#{achievementData.images[0]}",
			"author": {
			"@type": "Organization",
			"name": "RTUITLab",
			"url": "https://rtuitlab.dev"
			},
			"publisher": {
			"@type": "Organization",
			"name": "RTUITLab",
			"logo": {
			"@type": "ImageObject",
			"url": ""
			}
			},
			"datePublished": ""
			}

	body.achievementsPageTemplate
		header
			section.buttonContainer
				button(onclick="window.history.back();")
					img(src="../images/icons/buttonArrow.svg" alt="")
					| Назад

				h1 #{achievementData.title}

			section.desc #{achievementData.shortdescription}

		main
			section.content
				.galleryParent
					.swiper.achievementsSwiperParent
						.swiper-wrapper
							each object in achievementData.images
								.swiper-slide
									img(src="../../src"+object, alt="")
							each object in achievementData.videos
								.swiper-slide
									video(src=object, alt="" loop autoplay muted)
					.swiper-pagination.achievementsSwiperPagination

				article.info
					h3 О событии
					p #{achievementData.longdescription}

			section.members
				h2 Участники
				section.itemsParent
					each obj in achievementData.members
						.item
							p #{obj}
