include ../../js/data/equipment.pug

-
  let i = 0;

article(class="equipment__parent" id="equipment")
  div(class="equipment__content")
    h1 Оборудование
    while i < equipmentData.length
      .equipment__elements(invert=((i+1)%2===0).toString() lastelem=(i+1===equipmentData.length).toString())
        each obj in equipmentData[i]
          if(obj.style)
            .equipment__element(style=`background: black;`)
              img(src=obj.img style=obj.style alt=obj.name title=obj.name loading='lazy' height="100%")
              span
                = obj.name
              span.equipment__count
                = obj.count
          else
            .equipment__element(style=`background: black;`)
              img(src=obj.img alt=obj.name title=obj.name loading='lazy' height="100%")
              span
                = obj.name
              span.equipment__count
                = obj.count


      - i++
  button(onclick='for(let i of document.querySelectorAll(".equipment__elements[hidden=true]")) i.setAttribute("hidden","false"); this.style.display="none";')
    | Показать еще
